<!-- editUser.ejs -->
<%- contentFor('body') %>

<div class="container">
 
  <h2>Edycja użytkownia: <%= user.name %> </h2>
        <form id="editUserForm" action="/users/edit" method="post">
          <input type="hidden" name="id" value="<%= user.id %>">
          
          <div class="mb-3">
            <label for="name" class="form-label">Imię:</label>
            <input type="text" name="name" value="<%= user.name %>" class="form-control">
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" name="email" value="<%= user.email %>" class="form-control">
          </div>

          <!-- Dodane pole do edycji hasła -->
          <div class="mb-3">
            <label for="password" class="form-label">Nowe hasło:</label>
            <input type="password" name="password" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        </form>
    
</div>


